*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: kuch;
    src: url('./Fonts/DM_Sans/static/DMSans-ExtraLight.ttf');
}
@font-face {
    font-family: neuton;
    src: url('./Fonts/Neuton/Neuton-Regular.ttf');
}
@font-face {
    font-family: neutonextralight;
    src: url('./Fonts/Neuton/Neuton-ExtraLight.ttf');
}
@font-face {
    font-family: neutonsemibold;
    src: url('./Fonts/Neuton/Neuton-Bold.ttf');
}
#main{
    background-color: #F5F3EA;
   overflow-x:hidden;

}
#page1{
    min-height: 100vh;
    width: 100vw;
    border-bottom:1px solid black;
    position: relative;
}
#nav{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
    gap:9vw;
    height: 100px;
    width: 100%;
    /* background-color: red; */
    padding-left:1vw;
}
#nav h1 span{
    color:#FF5858;
    display: flex;
    align-items: center;
    margin-right:-50;
    font-family: neuton;
    font-size:38px;
}
#nav h1{
    display: flex;
    align-items: center;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.5vw;
    font-size:15px;
    letter-spacing: 1px;
    font-family:kuch;
    font-weight: 100;
    /* font-weight:100; */
}
#nav-part2 h4{
    
    width:85px;
}
#nav-part3{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap:-40px; */
    font-family: neutonextralight;
    font-family: kuch;
    font-size:15px;
    font-weight: 100;
}
#nav-part3 :nth-child(3){
    color:white;
    width:106px;
    background-color: black;
    padding:10px 20px;
    border:1px solid black; 
    border-radius: 5px;
    font-size:15px;
    transition: all ease 0.4s;
}
#nav-part3 :nth-child(2){
    color:#FF5858;
    transition: all ease 0.5s;
    width:108px;
    text-align: center;
}
#nav-part3 :nth-child(2):hover{
    color:black;

}
#nav-part3 :nth-child(1):hover{
    color:#FF5858;
}

#nav-part3 :nth-child(3):hover{
    color:black;
background-color:transparent;
border:1px solid black;   
}
#page1 #center{
    text-align:center;
    padding-top:7vh;
}
#center h1{
    font-family: neutonsemibold;
    font-weight: 900;
    font-size:64px;
}
#center h1:nth-child(1){
    color:#FF5858;
}
#center p{
    font-family:kuch;
    font-size:15px;
    margin-top:3vh;
    font-weight: 500;
}
#page1 img{
    width: 80%;
    margin-left:10%;
    margin-top:10vh;
}

/* Flying components to Page 1 */
#blue-circle{
    height: 26px;
    width: 26px;
    position: absolute;
    top:4%;
    left:34%;
}

#yellow-star{
    height: 40px;
    width: 40px;
    position: absolute;
    top:10%;
    left:70%;
}
#pink-star{
    height: 30px;
    width: 30px;
    position: absolute;
    top:21%;
    left:16%
}
#arrow{
    height: 130px;
    width: 130px;
    position: absolute;
    top:24%;
    left:22%;
}
#pink-plus{
    height: 25px;
    width: 25px;
    position: absolute;
    top:40%;
    left:79%;
}

#page2{
    min-height: 120vh;
    width: 100vw;
    overflow: hidden;
}
#page2 h2{
    margin-top:13vh;
    text-align: center;
    font-family:neuton;
    font-size:4vw;
    letter-spacing: 4px;
}
#page2 p{
    margin:3vh;
    text-align: center;
    color:rgb(130, 130, 130);
}
#page2 #elem-holder{
    margin-top:4vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    overflow-y: hidden;
    padding-bottom:10vh;
}
    #page2 .elm{
      position: relative;
      height: 86vh;
      width: 30vw;
      /* margin:8vh 2vw; */
      margin-top:10vh;
      margin-left:2vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      overflow: hidden;
      border-radius: 5px;
      transition: all ease 0.2s;
  
      
    }
    #page2 .elm img{
        border:1px solid black;
        overflow: hidden;
        border-radius: 5px;
        height: 86%;
        width: 97%;
        object-fit: cover;
    }

    #page2 .elm:hover{
        background-color: #FFB07B;
    }
    .elm #icon-elem{
        position: absolute;
        z-index: 10;
        top:0%;
        scale:0.2;
        color:white;
        display: none;
    }
    .elm #icon{
        position: absolute;
        z-index: 10;
        top:0%;
       font-size:100px;
        color:white;
    }
    #page2 .elm:hover img{
        filter:grayscale(5);
    }
    #page2 .elm:hover .elm #icon-elem{
        display: inline-block;
    }
   
    #speed-holder{
        height: 60vh;
        width:98vw;
        display: flex;
        flex-wrap: wrap;
        /* gap:%; */
        padding:2%;
    }
    .speed-place{
        height: 30%;
        width: 49%;
        padding:2%;
        /* margin-top:-3%; */
        font-family: neuton;
        letter-spacing:1px;
        font-size:18px;
    }
    .speed-place:nth-child(3){
        /* background-color: red; */
        margin-top:-3%;
       
    }
    .speed-place:nth-child(4){
        /* background-color: red; */
        margin-top:-3%;
    }
    .speed-bar{
        height: 30%;
        width: 100%;
        background-color: rgb(195, 194, 194);
        margin-top:3%;
        border-radius:50px 50px 50px 50px;
        overflow: hidden;
    }
    #speed-bar-fill1{
        width: 90%;
    }
    #speed-bar-fill2{
        width: 95%;
    }
    #speed-bar-fill3{
        width: 92%;
    }
    #speed-bar-fill4{
        width: 98%;
    }
    .speed-bar-fill-class{
        height: 100%;
        background-color: black;
        border-radius:  0 50px 50px 0;
    }

    #page3{
        position: relative;
        min-height: 100vh;
        width: 100vw;
        background-color: #151B31;
        font-family: neuton;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding:5vh 1vw;
        overflow: hidden;
        
    }
    #page3 h2{
        color:white;
        text-align: center;
        font-size:3.5vw;
        letter-spacing: 3px;
        margin-top:10px;
    }
    #page3 .page3-holders{
        min-height: 120vh;
        width: 96vw;
        margin:4vh 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap:2vw;
        overflow: hidden;
        /* background-color: red; */
    }
    #page3 .page3-cards{
        height: 50vh;
        width: 22vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: red; */
    }
    .page3-cards img{
        height: 28%;
        width:35%;
        
    }

    #page3 .page3-cards h2{
        font-size:2.5vw;
        letter-spacing: 1px;
    }
    #page3 .page3-cards p{
        font-size:1.5vw;
        letter-spacing: 0px;
        color:white;
    }
    #page4{
        min-height: 100vh;
        width: 100vw;
        font-family: neuton;
      padding-top:10vh;
      padding-left:1vw;
    }
    #page4 h2{
        letter-spacing: 3px;
        font-size:4.5vw;
        text-align: center;
        margin-top:4vh;
      
    }
    #page4 p{
        margin:3vh;
        text-align: center;
        color:rgb(130, 130, 130);
        overflow: hidden;
      
    }
    #page4 #page4-holder{
        min-height: 100vh;
        width: 98vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap:2vw;
        padding:2vh 0;
        margin-top:11vh;
        overflow: hidden;
    }
    #page4 .page4-cards{
        width:30vw;
        height: 84vh;
       transition: all ease 0.3s;
        border-radius: 5px;
       
    }
    #page4 .page4-cards h2{
        font-size:2.3vw;
        margin-top:-1px;
        overflow: hidden;
      
    }

    #page4 .page4-cards img{
        text-align: center;
        margin:1%;
        height: 88%;
        width: 98%;
        border:1px solid black;
        border-radius: 5px;
    }
    #page4 .page4-cards:hover{
        background-color: #FFB07B;
        color:white;
    }
    #page5{
        position: relative;
        min-height: 93vh;
        width: 100vw;
        background-color: transparent;
        margin-top:10vh;
    }
    #page5 #banner-holder{
        height: 80vh;
        width: 98%;
        /* background-color: red; */
        background-color: white;
        position: relative;
    }
    #page5 #banner1{
        background-color: #151B31;
        color:white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: neuton;
    }
    
    #banner1 h2{
        font-size:2.8vw;
        letter-spacing: 3px;
    }
    #banner1 p{
        font-size:1.4vw;
        margin-top:4vh;
        letter-spacing: 1px;
    }
    #banner1 #purchase{
        padding:10px 20px;
        border:1px solid #FF5858;
        width: 12vw;
        margin-right:10vw;
        font-size:1vw;
        text-align: center;
        background-color: #FF5858;
        border-radius: 5px;
        transition: all ease 0.5s;
    }
    #banner1 #word_purchase{
        font-size:1.7vw ;
    }
    #banner1 #purchase:hover{
        background-color: transparent;
        color:#FF5858;
    }
    #banner2{
        position: absolute;
        background-color: #BDF0DF;
        height: 35vh;
        width: 94vw;
        bottom:-15%;
        left:50%;
        transform: translate(-50%,0%);
        border:1px solid black;
        font-family: neuton;
        text-align: center;
    }
    #banner2 h2{
        font-size:4.5vw;
        letter-spacing: 2px;
        margin-top:6vh;
    }#banner2 #inputs{
        margin-top:4vh;
        background-color:transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10vh;
    }
    #banner2 #email-enter{
        padding:2vh 0;
        font-size:3.5vh;
        border-radius: 5px;
        /* border: none; */
        border:1px solid rgb(86, 86, 86);
        width:35vw;
        height: 6vh;
    }
    #banner2 #btnforemail{
        padding:1vh 1vw;
        background-color: #FF5858;
        font-size:3vh;
        border-radius: 5px;
        border: none;
        width: 10vw;
        height: 7vh;
        color:white;
    }
    #page6{
        height: 34vh;
        width: 100vw;
        padding:0 2.4vw;
        font-family: neuton;
    }

    #line1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #line1 img{
        height: 6vh;
    }
    #line1 i{
        font-size:2vw;
    }
    #line1 #tags{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:2vw;
        color:rgb(59, 59, 59);
        font-size:1.6vw;
        margin-left:-15vw;
    }
    #line2{
        font-size:1.4vw;
        color: rgb(66, 65, 65);
        text-align: center;
        margin-top:10vh;
    }
    




























    @media (max-width:600px) {

     #nav #nav-part2{
        display: none;
        background-color: red;
     }
     #nav #nav-part3{
        display: none;

     }
     #nav i{
        color:red;
        font-size:6vw;
     }
     #nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:5vw;
     }
     #center{
        background-color: transparent;
        margin-top:-8vh;
     }
     #page1{
        min-height: 70vh;
     }
     #center img{
        width: 150%;
     }

     #page2{
        /* min-height: 250vh; */
        margin-top:4vh;
        padding:0;
        padding:3vh 0;
        padding-bottom:0vh;
        /* background-color: lightlblue; */
     }
     #page2 #elem-holder{
        margin-top:-2vh;
     }
     #page2 .elm{
        width: 98%;
        margin:0 1%;
     }
     #page2 h2{
        margin-top:-3vh;
     }
     #page2 #speed-holder{
        /* gap:0.5vh; */
        margin:0% 1%;
        opacity: 1;
        
    }
    #page2 #speed-holder .speed-place{
        height: 17%;
        margin:5vh 0;
        width:98%;
        margin:-1% 1%;
    }
    #page3 h2{
        font-size: 10vw;
        
    }
    #page3 .page3-holders{
        min-height: 8vh;

    }
    #page3 .page3-holders .page3-cards{
      width:47vw;
      height: 40vh;
      gap:1vh;
    }
    #page3 .page3-holders .page3-cards h2{
        font-size:6vw;
    }
    #page3 .page3-holders .page3-cards p{
        font-size:4.2vw;
        text-align: center;
    }
    #page3 .page3-holders .page3-cards img{
        height: 24%;
    }
    #page4 h2{
        font-size:10vw;
    }
    #page4 #page4-holder{
        background-color: transparent;
        
    }
    #page4 #page4-holder .page4-cards{
        width:98vw;
    }
    #page4 #page4-holder .page4-cards h2{
        font-size:5vw;
    }

    #page5{
        background-color: transparent;
    }
    #page5 #banner1{
        height: 25vh;
        flex-direction: column;
        height: 50vh;
        gap:1vh;
    }
    #page5 img{
        height: 25vh;
        width:25vw;
    }
    #page5 h2{
        font-size: 7vw;
        text-align: center;
        margin:0;
    }
    #page5 p{
       font-size:4.5vw;
       text-align: center;
    }
    #page5 #purchase{
        width:40vw;
        margin:1vh;
        font-size:60%;
    }

    #page5 #purchase #word_purchase{
        font-size:3.5vw;
    }
    #page5 #banner2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #page5 #inputs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #inputs #email-enter{
        width: 80vw;
    }
    #inputs #btnforemail{
        width: 40vw;
        text-align: center;
        margin-top:-5px;
    }
    #page6 #line1{
        flex-direction: column;
    }
    #line1 h2{
        font-size:2vw;
    }
    #line1 #tags{
        font-size:4vw;
        text-align: center;
        gap:2vw;
    }
    #line1 i{
        font-size:4vw;
    }
    #line2{
        font-size: 4vw;
    }

    

  }

   